<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Сброс пароля</title>
</head>
<body>
    <h1>Сброс пароля</h1>
    <p>Для сброса вашего пароля, пожалуйста, перейдите по ссылке ниже:</p>
    <a href="{{url}}">Сбросить пароль</a>
    <p>Если вы не запрашивали сброс пароля, просто проигнорируйте это письмо.</p>
</body>
</html> 