<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Подтверждение email</title>
</head>
<body>
    <h1>Подтверждение email</h1>
    <p>Для подтверждения вашего email, пожалуйста, перейдите по ссылке ниже:</p>
    <a href="{{url}}">Подтвердить email</a>
    <p>Если вы не регистрировались на нашем сайте, просто проигнорируйте это письмо.</p>
</body>
</html> 